$base: #FFFBF5;
$primary-color: #ec5c59;
$secondary-color: #505050;
$highlight-color: #62EBFF;

$dark: #505050;


h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    line-height: 1.15;
    text-transform: uppercase;
    font-weight: 700;
  }